h1{
    text-align: center;
    margin-top: 40px;
    color: #333259;
    font-family: 'Quicksand', sans-serif;
    font-size: 44px;
    font-weight: 700;
}

table {
    border-collapse: collapse;
    font-family: Quicksand, serif;
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border: #333259 solid 0.5px;
}
.recap_head{
    background-color: white;
}
tr, th,td{
    padding: 4px 16px
}
